In [1]:
# Change dir to repo root if running from repo (rather than pip installed)
# (Assuming running from [repo]/notes/)
import os
os.chdir('../')

%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd

In [7]:
data= pd.DataFrame({'a': (1, 2, 3, 4, 5), 
                    'b': (1, 2, 3, 4, 5),
                    'c': (1, 2, 3, 4, 5),
                    'target': (1, 1, 2, 2, 3)})

data = pd.concat((data, data), 
                 axis=0).sort_values('target').reset_index(drop=True)

x = data[[c for c in data if c != 'target']]
y = data['target']

data

   a  b  c  target
0  1  1  1       1
1  2  2  2       1
2  1  1  1       1
3  2  2  2       1
4  3  3  3       2
5  4  4  4       2
6  3  3  3       2
7  4  4  4       2
8  5  5  5       3
9  5  5  5       3

In [8]:
from incremental_trees.trees import StreamingRFC

srfc = StreamingRFC()
srfc.partial_fit(x[0:7], y[0:7],  # No 3s
                 classes=y.unique())

In [9]:
srfc.partial_fit(x, y)

In [10]:
srfc.predict(x)

/mnt/s/OneDrive/Matlab/dask tests/IncrementalTrees/incremental_trees/trees.py:196: RuntimeWarning: invalid value encountered in true_divide
  norm_prob = preds / counts

array([1, 1, 1, 1, 2, 2, 2, 2, 3, 3])